@font-face {
    font-family: "Ubuntu-Medium";
    src: url('../fonts/Ubuntu-Medium.ttf') format("truetype"),
		url('../fonts/Ubuntu-Medium.eot') format("opentype"),
		url('../fonts/Ubuntu-Medium.woff') format("woff"),
		url('../fonts/Ubuntu-Medium.woff2') format("woff2")
}
@font-face {
    font-family: "Ubuntu-Regular";
    src: url('../fonts/Ubuntu-Regular.ttf') format("truetype"),
		url('../fonts/Ubuntu-Regular.eot') format("opentype"),
		url('../fonts/Ubuntu-Regular.woff') format("woff"),
		url('../fonts/Ubuntu-Regular.woff2') format("woff2")
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url('../fonts/Ubuntu-Bold.ttf') format("truetype"),
		url('../fonts/Ubuntu-Bold.eot') format("opentype"),
		url('../fonts/Ubuntu-Bold.woff') format("woff"),
		url('../fonts/Ubuntu-Bold.woff2') format("woff2")
}
